@font-face {
  font-family: Meanwhile;
  src: url(../fonts/Meanwhile.ttf);
}

@font-face {
  font-family: Calibri Light;
  src: url(../fonts/CalibriLight.ttf);
}

/* line 73, ../sass/global.sass */
.z-1 {
  z-index: 1;
}

/* line 73, ../sass/global.sass */
.z-2 {
  z-index: 2;
}

/* line 73, ../sass/global.sass */
.z-3 {
  z-index: 3;
}

/* line 73, ../sass/global.sass */
.z-4 {
  z-index: 4;
}

/* line 73, ../sass/global.sass */
.z-5 {
  z-index: 5;
}

/* line 73, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 73, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 73, ../sass/global.sass */
.z-8 {
  z-index: 8;
}

/* line 73, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 73, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 73, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 73, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 73, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 73, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 73, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 73, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 73, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 73, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 73, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 73, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 76, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 84, ../sass/global.sass */
.next-button, .start-button, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 98, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 102, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-101 .bg-base, #frame-102 .bg-base, #frame-103 .bg-base, #frame-104 .bg-base, #frame-105 .bg-base, #frame-104 .basket .ball,
#frame-105 .basket .ball, #frame-106 .bg-base, #frame-106 .elem, #frame-106 .gas, #frame-106 .gas-spread, #frame-107 .bg, #frame-108 .task, #frame-109 .sketchpad-container, #frame-112 .bg-base, #frame-113 .video-container, #frame-116 .bg-base, #frame-116 .girl, #frame-201 .bg-base, #frame-201 .task, #frame-301 .bg-base, .intro-video, .intro-pic {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 109, ../sass/global.sass */
.absolute, #frame-000 .girl, #frame-000 .molecules-btn, #frame-000 .check-btn, #frame-000 .research-btn, #frame-000 .facts-btn, .reg-box, #frame-101 .cloud, #frame-103 .process, #frame-103 .heat.rus, #frame-103 .condensation.kaz, #frame-103 .evaporation.rus, #frame-103 .cooling.kaz, #frame-103 .temperature.eng, #frame-103 .boiling.kaz, #frame-103 .heat.kaz, #frame-103 .freezing.eng, #frame-103 .freezing.kaz, #frame-103 .boiling.eng, #frame-103 .temperature.kaz, #frame-103 .condensation.eng, #frame-103 .freezing.rus, #frame-103 .evaporation.kaz, #frame-103 .condensation.rus, #frame-103 .cooling.rus, #frame-103 .heat.eng, #frame-103 .boiling.rus, #frame-103 .evaporation.eng, #frame-103 .temperature.rus, #frame-103 .cooling.eng, #frame-104 .bottom-container,
#frame-105 .bottom-container, #frame-104 .condensation-basket,
#frame-105 .condensation-basket, #frame-104 .freezing-basket, #frame-105 .freezing-basket, #frame-104 .evaporation-basket, #frame-105 .evaporation-basket, #frame-104 .heating-basket, #frame-105 .heating-basket, #frame-104 .condensation-ball, #frame-104 .condensation-background,
#frame-105 .condensation-ball, #frame-105 .condensation-background, #frame-104 .freezing-ball, #frame-104 .freezing-background,
#frame-105 .freezing-ball, #frame-105 .freezing-background, #frame-104 .evaporation-ball, #frame-104 .evaporation-background,
#frame-105 .evaporation-ball, #frame-105 .evaporation-background, #frame-104 .heating-ball, #frame-104 .heating-background,
#frame-105 .heating-ball, #frame-105 .heating-background, #frame-106 .juice-animated, #frame-107 .graph, #frame-108 .graph, #frame-108 .question, #frame-108 .tip, #frame-108 .task-1 .answer, #frame-108 .task-2 .answer, #frame-108 .task-3 .answer, #frame-109 .task, #frame-109 #sketchpad-controls, #frame-110 .elem, #frame-111 .state-change, #frame-111 .ice-structure, #frame-111 .water-structure, #frame-111 .vapor-structure, #frame-112 .ice.basket, #frame-112 .water.basket, #frame-112 .vapor.basket, #frame-112 .ice.ball, #frame-112 .water.ball, #frame-112 .vapor.ball, #frame-114 .elem, #frame-116 .text, #frame-116 .ball, #frame-116 .ball-1, #frame-116 .ball-2, #frame-116 .ball-3, #frame-116 .ball-4, #frame-116 .ball-5, #frame-201 .old-man, #frame-201 .question, #frame-201 .answer, #frame-201 .ball, #frame-201 .basket, #frame-201 .graph, #frame-201 .column, #frame-201 .check-button, #frame-201 .timer, #frame-301 .text, #frame-301 .facts-home-button, #frame-401 .fact, #frame-401 .source, #frame-401 .facts-home-button, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .copyright, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 114, ../sass/global.sass */
.transition-2s, #frame-103 .process {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 121, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 128, ../sass/global.sass */
* {
  font-family: Meanwhile;
}

/* line 132, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*PRE LOAD */
/* line 137, ../sass/global.sass */
#pre-load {
  background-color: gainsboro;
}

/* line 140, ../sass/global.sass */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU */
/* line 150, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px;
}

/* line 164, ../sass/global.sass */
.frame {
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAME 000 (TITLE PAGE) */
/* line 171, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/s0-bg.jpg);
}

/* line 174, ../sass/global.sass */
#frame-000 .girl {
  left: 43.8%;
  top: 19.6%;
  width: 19.2%;
  height: 80.4%;
  background-image: url(../pics/s0-girl.gif);
}

/* line 178, ../sass/global.sass */
#frame-000 .btn {
  font-size: 30%;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

/* line 184, ../sass/global.sass */
#frame-000 .btn:hover .lbl {
  color: black;
  text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white;
}

/* line 188, ../sass/global.sass */
#frame-000 .btn .pic, #frame-000 .btn .lbl {
  width: 100%;
  height: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black;
}

/* line 197, ../sass/global.sass */
#frame-000 .btn .lbl {
  padding: 2%;
  padding-top: 10%;
  text-align: center;
}

/* line 202, ../sass/global.sass */
#frame-000 .molecules-btn {
  left: 6.9%;
  top: 35.2%;
  width: 16.95%;
  height: 51.2%;
}

/* line 205, ../sass/global.sass */
#frame-000 .molecules-pic {
  background-image: url(../pics/s0-molecules.png);
}

/* line 208, ../sass/global.sass */
#frame-000 .btn:hover .molecules-pic {
  background-image: url(../pics/s0-molecules-hover.png);
}

/* line 211, ../sass/global.sass */
#frame-000 .check-btn {
  left: 29.95%;
  top: 40.7%;
  width: 12.4%;
  height: 36%;
}

/* line 214, ../sass/global.sass */
#frame-000 .check-pic {
  background-image: url(../pics/s0-check.png);
}

/* line 217, ../sass/global.sass */
#frame-000 .btn:hover .check-pic {
  background-image: url(../pics/s0-check-hover.png);
}

/* line 220, ../sass/global.sass */
#frame-000 .research-btn {
  left: 68.25%;
  top: 39.1%;
  width: 13.3%;
  height: 32.7%;
}

/* line 223, ../sass/global.sass */
#frame-000 .research-pic {
  background-image: url(../pics/s0-research.png);
}

/* line 226, ../sass/global.sass */
#frame-000 .btn:hover .research-pic {
  background-image: url(../pics/s0-research-hover.png);
}

/* line 229, ../sass/global.sass */
#frame-000 .facts-btn {
  left: 87.05%;
  top: 40.6%;
  width: 9.8%;
  height: 28.6%;
}

/* line 232, ../sass/global.sass */
#frame-000 .facts-pic {
  background-image: url(../pics/s0-facts.png);
}

/* line 235, ../sass/global.sass */
#frame-000 .btn:hover .facts-pic {
  background-image: url(../pics/s0-facts-hover.png);
}

/*REG BOX */
/* line 240, ../sass/global.sass */
.reg-box {
  left: 80%;
  top: 75%;
  width: 19%;
  height: 20%;
  border-radius: 7px;
  border: 1px solid lightgrey;
  opacity: 0.9;
  color: white;
  background-color: grey;
  font-size: 20%;
  padding: 1em;
  line-height: 2em;
  text-align: right;
  z-index: 10;
}

/* line 254, ../sass/global.sass */
.reg-box.topcorner {
  left: 1.5%;
  top: 3%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 258, ../sass/global.sass */
.reg-box .error {
  color: red;
  font-size: 80%;
  text-align: center;
}

/* line 263, ../sass/global.sass */
.reg-box input {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  width: 13em;
  padding: 0.25em;
}

/* line 272, ../sass/global.sass */
.reg-box .enter-button {
  display: inlin-block;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 80%;
  height: 2em;
  padding: 0.25em;
}

/* line 280, ../sass/global.sass */
.reg-box .enter-button:hover {
  background-color: black;
  color: white;
}

/*FRAME 101 */
/* line 286, ../sass/global.sass */
#frame-101 .bg-base {
  background-image: url(../pics/s1-bg.png);
  background-size: 300%;
  background-position: 4% 6%;
}

/* line 292, ../sass/global.sass */
#frame-101 .cloud {
  left: 40%;
  top: 55%;
  width: 40%;
  height: 50%;
  background-image: url(../pics/s1-cloud.png);
  background-size: 100% 100%;
  font-size: 40%;
  text-align: center;
  padding: 7%;
  padding-top: 12%;
}

/*FRAME 102 */
/* line 304, ../sass/global.sass */
#frame-102 .bg-base {
  background-image: url(../pics/s2-bg.png);
}

/* line 308, ../sass/global.sass */
#frame-102 .process {
  float: left;
  width: auto;
  text-align: center;
  height: 5%;
  position: absolute;
  top: 0%;
  font-size: 30%;
  color: white;
  padding: 1%;
  z-index: 5;
  text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black;
}

/* line 321, ../sass/global.sass */
#frame-102 .process i {
  z-index: 10;
  cursor: pointer;
}

/* line 325, ../sass/global.sass */
#frame-102 #thermometer {
  width: 5%;
  height: 30%;
  position: absolute;
  background-image: url(../pics/thermometer.png);
  background-size: 100% 100%;
  top: 65%;
  left: 93%;
}

/* line 334, ../sass/global.sass */
#frame-102 .process i:hover {
  color: red;
}

/* line 337, ../sass/global.sass */
#frame-102 #heat-kaz {
  top: 15%;
  left: 15%;
}

/* line 341, ../sass/global.sass */
#frame-102 #heat-rus {
  top: 2%;
  left: 12%;
}

/* line 345, ../sass/global.sass */
#frame-102 #heat-eng {
  top: 9%;
  left: 10%;
}

/* line 349, ../sass/global.sass */
#frame-102 #evaporation-eng {
  top: 70%;
  left: 2%;
}

/* line 353, ../sass/global.sass */
#frame-102 #evaporation-rus {
  top: 63%;
  left: 7%;
}

/* line 357, ../sass/global.sass */
#frame-102 #evaporation-kaz {
  top: 77%;
  left: 7%;
}

/* line 361, ../sass/global.sass */
#frame-102 #boiling-eng {
  top: 65%;
  left: 30%;
}

/* line 365, ../sass/global.sass */
#frame-102 #boiling-rus {
  top: 58%;
  left: 35%;
}

/* line 369, ../sass/global.sass */
#frame-102 #boiling-kaz {
  top: 72%;
  left: 35%;
}

/* line 373, ../sass/global.sass */
#frame-102 #cooling-eng {
  top: 35%;
  left: 2%;
}

/* line 377, ../sass/global.sass */
#frame-102 #cooling-rus {
  top: 30%;
  left: 13%;
}

/* line 381, ../sass/global.sass */
#frame-102 #cooling-kaz {
  top: 42%;
  left: 12%;
}

/* line 385, ../sass/global.sass */
#frame-102 #condensation-eng {
  top: 35%;
  left: 40%;
}

/* line 389, ../sass/global.sass */
#frame-102 #condensation-rus {
  top: 30%;
  left: 45%;
}

/* line 393, ../sass/global.sass */
#frame-102 #condensation-kaz {
  top: 42%;
  left: 45%;
}

/* line 397, ../sass/global.sass */
#frame-102 #freezing-eng {
  top: 30%;
  left: 78%;
}

/* line 401, ../sass/global.sass */
#frame-102 #freezing-rus {
  top: 22%;
  left: 83%;
}

/* line 405, ../sass/global.sass */
#frame-102 #freezing-kaz {
  top: 36%;
  left: 85%;
}

/* line 409, ../sass/global.sass */
#frame-102 #temperature-eng {
  top: 75%;
  left: 78%;
}

/* line 413, ../sass/global.sass */
#frame-102 #temperature-rus {
  top: 82%;
  left: 78%;
}

/* line 417, ../sass/global.sass */
#frame-102 #temperature-kaz {
  top: 68%;
  left: 78%;
}

/*FRAME 103 */
/* line 423, ../sass/global.sass */
#frame-103 .bg-base {
  background-image: url(../pics/s2-bg.png);
}

/* line 427, ../sass/global.sass */
#frame-103 h4 {
  text-align: center;
  opacity: 0.8;
  width: 98%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 30%;
  top: 7%;
  z-index: 1;
}

/* line 438, ../sass/global.sass */
#frame-103 .process {
  font-size: 18%;
  text-align: center;
  font-weight: bold;
  background-size: 100% 100%;
  padding-top: 4%;
  z-index: 3;
  cursor: pointer;
}

/* line 449, ../sass/global.sass */
#frame-103 .rus {
  background-image: url(../pics/s3-hexagon-rus.png);
  color: white;
}

/* line 453, ../sass/global.sass */
#frame-103 .eng {
  background-image: url(../pics/s3-hexagon-eng.png);
  color: #005952;
}

/* line 457, ../sass/global.sass */
#frame-103 .kaz {
  background-image: url(../pics/s3-hexagon-kaz.png);
  color: white;
}

/* line 461, ../sass/global.sass */
#frame-103 .active {
  background-image: url(../pics/s3-hexagon-active.png);
  color: white;
}

/* line 465, ../sass/global.sass */
#frame-103 .error {
  background-image: url(../pics/s3-hexagon-error.png);
  color: white;
}

/* line 469, ../sass/global.sass */
#frame-103 .heat.rus {
  left: 8.15%;
  top: 30.8%;
  width: 9.55%;
  height: 18.7%;
}

/* line 472, ../sass/global.sass */
#frame-103 .condensation.kaz {
  left: 18.15%;
  top: 30.8%;
  width: 9.55%;
  height: 18.8%;
}

/* line 475, ../sass/global.sass */
#frame-103 .evaporation.rus {
  left: 28.15%;
  top: 30.8%;
  width: 9.5%;
  height: 18.7%;
}

/* line 478, ../sass/global.sass */
#frame-103 .cooling.kaz {
  left: 38.1%;
  top: 30.8%;
  width: 9.55%;
  height: 18.8%;
}

/* line 481, ../sass/global.sass */
#frame-103 .temperature.eng {
  left: 48.1%;
  top: 30.8%;
  width: 9.55%;
  height: 18.7%;
}

/* line 484, ../sass/global.sass */
#frame-103 .boiling.kaz {
  left: 58.05%;
  top: 30.8%;
  width: 9.6%;
  height: 18.8%;
}

/* line 487, ../sass/global.sass */
#frame-103 .heat.kaz {
  left: 68.05%;
  top: 30.8%;
  width: 9.55%;
  height: 18.8%;
}

/* line 490, ../sass/global.sass */
#frame-103 .freezing.eng {
  left: 78.05%;
  top: 30.8%;
  width: 9.55%;
  height: 18.7%;
}

/* line 493, ../sass/global.sass */
#frame-103 .freezing.kaz {
  left: 13.35%;
  top: 46.1%;
  width: 9.55%;
  height: 18.8%;
}

/* line 496, ../sass/global.sass */
#frame-103 .boiling.eng {
  left: 23.35%;
  top: 46.1%;
  width: 9.55%;
  height: 18.7%;
}

/* line 499, ../sass/global.sass */
#frame-103 .temperature.kaz {
  left: 33.3%;
  top: 46.1%;
  width: 9.55%;
  height: 18.7%;
}

/* line 502, ../sass/global.sass */
#frame-103 .condensation.eng {
  left: 43.3%;
  top: 46.1%;
  width: 9.55%;
  height: 18.7%;
}

/* line 505, ../sass/global.sass */
#frame-103 .freezing.rus {
  left: 53.3%;
  top: 46.1%;
  width: 9.55%;
  height: 18.7%;
}

/* line 508, ../sass/global.sass */
#frame-103 .evaporation.kaz {
  left: 63.25%;
  top: 46.1%;
  width: 9.6%;
  height: 18.7%;
}

/* line 511, ../sass/global.sass */
#frame-103 .condensation.rus {
  left: 73.25%;
  top: 46.1%;
  width: 9.55%;
  height: 18.7%;
}

/* line 514, ../sass/global.sass */
#frame-103 .cooling.rus {
  left: 18.7%;
  top: 60.9%;
  width: 9.55%;
  height: 18.7%;
}

/* line 517, ../sass/global.sass */
#frame-103 .heat.eng {
  left: 28.7%;
  top: 60.9%;
  width: 9.5%;
  height: 18.7%;
}

/* line 520, ../sass/global.sass */
#frame-103 .boiling.rus {
  left: 38.65%;
  top: 60.9%;
  width: 9.55%;
  height: 18.7%;
}

/* line 523, ../sass/global.sass */
#frame-103 .evaporation.eng {
  left: 48.65%;
  top: 60.9%;
  width: 9.55%;
  height: 18.7%;
}

/* line 526, ../sass/global.sass */
#frame-103 .temperature.rus {
  left: 58.65%;
  top: 60.9%;
  width: 9.5%;
  height: 18.7%;
}

/* line 529, ../sass/global.sass */
#frame-103 .cooling.eng {
  left: 68.6%;
  top: 60.9%;
  width: 9.55%;
  height: 18.7%;
}

/*FRAME 104 */
/* line 534, ../sass/global.sass */
#frame-104 .bg-base, #frame-105 .bg-base {
  background-image: url(../pics/s2-bg.png);
}

/* line 538, ../sass/global.sass */
#frame-104 h4, #frame-105 h4 {
  text-align: center;
  opacity: 0.8;
  width: 98%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 30%;
  top: 7%;
  z-index: 1;
}

/* line 549, ../sass/global.sass */
#frame-104 .bottom-container,
#frame-105 .bottom-container {
  background-color: #81c784;
  opacity: 0.7;
  left: 0%;
  top: 89.8%;
  width: 100%;
  height: 10.2%;
}

/* line 556, ../sass/global.sass */
#frame-104 .basket, #frame-105 .basket {
  background-color: white;
  border: 2px solid #008d7e;
  border-radius: 10px;
  font-size: 20%;
  padding: 0.5%;
  padding-top: 1%;
  text-align: center;
}

/* line 569, ../sass/global.sass */
#frame-104 .ball,
#frame-105 .ball {
  font-size: 20%;
  border: 2px solid white;
  background-color: #81c784;
  border-radius: 10px;
  padding: 0.5%;
  text-align: center;
  cursor: pointer;
  color: #2c662f;
  z-index: 3;
}

/* line 581, ../sass/global.sass */
#frame-104 .ball-background,
#frame-105 .ball-background {
  background-color: white;
  border-radius: 10px;
  z-index: 2;
}

/* line 587, ../sass/global.sass */
#frame-104 .condensation-basket,
#frame-105 .condensation-basket {
  left: 39.95%;
  top: 30.1%;
  width: 11.9%;
  height: 7.3%;
}

/* line 591, ../sass/global.sass */
#frame-104 .freezing-basket, #frame-105 .freezing-basket {
  left: 79.8%;
  top: 38%;
  width: 11.9%;
  height: 7.3%;
}

/* line 594, ../sass/global.sass */
#frame-104 .evaporation-basket, #frame-105 .evaporation-basket {
  left: 19.9%;
  top: 69.5%;
  width: 11.9%;
  height: 7.3%;
}

/* line 597, ../sass/global.sass */
#frame-104 .heating-basket, #frame-105 .heating-basket {
  left: 50%;
  top: 79.7%;
  width: 11.9%;
  height: 7.3%;
}

/* line 600, ../sass/global.sass */
#frame-104 .condensation-ball, #frame-104 .condensation-background,
#frame-105 .condensation-ball, #frame-105 .condensation-background {
  left: 5.15%;
  top: 91.8%;
  width: 10.3%;
  height: 5.3%;
}

/* line 604, ../sass/global.sass */
#frame-104 .freezing-ball, #frame-104 .freezing-background,
#frame-105 .freezing-ball, #frame-105 .freezing-background {
  left: 54.95%;
  top: 91.6%;
  width: 10.3%;
  height: 5.7%;
}

/* line 608, ../sass/global.sass */
#frame-104 .evaporation-ball, #frame-104 .evaporation-background,
#frame-105 .evaporation-ball, #frame-105 .evaporation-background {
  left: 29.95%;
  top: 91.6%;
  width: 10.5%;
  height: 5.7%;
}

/* line 612, ../sass/global.sass */
#frame-104 .heating-ball, #frame-104 .heating-background,
#frame-105 .heating-ball, #frame-105 .heating-background {
  left: 79.7%;
  top: 91.6%;
  width: 10.4%;
  height: 5.7%;
}

/*FRAME 106 */
/* line 618, ../sass/global.sass */
#frame-106 .bg-base {
  background-image: url(../pics/s0-bg.jpg);
  background-size: 100% auto;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 624, ../sass/global.sass */
#frame-106 .elem {
  background-position: center;
}

/* line 628, ../sass/global.sass */
#frame-106 .ice-skater {
  background-image: url(../pics/s6-ice-skater.png);
  background-size: 5%;
  background-position: 40% 40%;
  z-index: 9;
  -ms-transition: all 10s;
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -o-transition: all 10s;
  transition: all 10s;
}

/* line 635, ../sass/global.sass */
#frame-106 .cloud-and-rain {
  opacity: 0;
  background-image: url(../pics/s6-cloud-and-rain.png);
  z-index: 9;
  -ms-transition: all 5s;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}

/* line 641, ../sass/global.sass */
#frame-106 .medeo-evaporation {
  background-image: url(../pics/s6-medeo-evaporation.png);
  z-index: 9;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 646, ../sass/global.sass */
#frame-106 .sugar {
  background-image: url(../pics/s6-sugar.png);
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 650, ../sass/global.sass */
#frame-106 .oil {
  background-image: url(../pics/s6-oil.png);
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 654, ../sass/global.sass */
#frame-106 .shampoo {
  background-image: url(../pics/s6-shampoo.png);
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 658, ../sass/global.sass */
#frame-106 .juice {
  background-image: url(../pics/s6-juice.png);
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 662, ../sass/global.sass */
#frame-106 .juice-animated {
  left: 16.8%;
  top: 0%;
  width: 65.85%;
  height: 100%;
  background-image: url(../pics/s6-juice-animated.jpg);
  background-size: 1300% 100%;
}

/*FRAME 107 */
/* line 672, ../sass/global.sass */
#frame-107 .title {
  text-align: center;
  opacity: 0.8;
  width: 98%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 30%;
  top: 7%;
  z-index: 1;
}

/* line 683, ../sass/global.sass */
#frame-107 .graph {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 70%;
  background-repeat: no-repeat;
}

/* line 688, ../sass/global.sass */
#frame-107 .cool.graph {
  background-image: url(../pics/s7-cool-graph.jpg);
  background-size: 900% 100%;
}

/* line 692, ../sass/global.sass */
#frame-107 .heat.graph {
  background-image: url(../pics/s7-heat-graph.jpg);
  background-size: 1000% 100%;
}

/* line 696, ../sass/global.sass */
#frame-107 .bg {
  background-image: url(../pics/s7-bg.png);
}

/*FRAME 108 */
/* line 702, ../sass/global.sass */
#frame-108 .title {
  text-align: center;
  opacity: 0.8;
  width: 98%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 30%;
  top: 10%;
  z-index: 1;
}

/* line 713, ../sass/global.sass */
#frame-108 .graph {
  left: 25%;
  top: 25%;
  width: 50%;
  height: 70%;
  background-image: url(../pics/s7-heat-graph.jpg);
  background-repeat: no-repeat;
  background-size: 1000% 100%;
  background-position: 100%;
}

/* line 724, ../sass/global.sass */
#frame-108 .question {
  left: 70.25%;
  top: 23.4%;
  width: 26.3%;
  height: 18.3%;
  color: #009fd3;
  font-size: 30%;
}

/* line 730, ../sass/global.sass */
#frame-108 .tip {
  left: 70.25%;
  top: 40%;
  width: 26.3%;
  height: 18.3%;
  color: red;
  font-size: 25%;
}

/* line 736, ../sass/global.sass */
#frame-108 .answer {
  cursor: pointer;
}

/* line 739, ../sass/global.sass */
#frame-108 .task-1 .answer, #frame-108 .task-2 .answer {
  width: 4%;
  height: 8%;
  border-radius: 50%;
  background-color: red;
  color: white;
  padding: 0.6%;
  padding-top: 1.6%;
  text-align: center;
  font-size: 20%;
}

/* line 751, ../sass/global.sass */
#frame-108 .task .answer:hover {
  background-color: #03a0d1;
}

/* line 754, ../sass/global.sass */
#frame-108 .task-1 .answer-1, #frame-108 .task-2 .answer-1 {
  left: 31.7%;
  top: 82.1%;
}

/* line 757, ../sass/global.sass */
#frame-108 .task-1 .answer-2, #frame-108 .task-2 .answer-2 {
  left: 35%;
  top: 74%;
}

/* line 760, ../sass/global.sass */
#frame-108 .task-1 .answer-3, #frame-108 .task-2 .answer-3 {
  left: 45.3%;
  top: 57.3%;
}

/* line 763, ../sass/global.sass */
#frame-108 .task-1 .answer-4, #frame-108 .task-2 .answer-4 {
  left: 46.55%;
  top: 41.7%;
}

/* line 766, ../sass/global.sass */
#frame-108 .task-1 .answer-5, #frame-108 .task-2 .answer-5 {
  left: 59.85%;
  top: 29.4%;
}

/* line 769, ../sass/global.sass */
#frame-108 .task-3 .answer {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  width: 7.8%;
  height: 4.1%;
  border-radius: 10px;
  background-color: red;
  color: white;
  padding: 0.5%;
  text-align: center;
  font-size: 20%;
}

/* line 780, ../sass/global.sass */
#frame-108 .task-3 .answer-3 {
  left: 37.75%;
  top: 79%;
}

/* line 783, ../sass/global.sass */
#frame-108 .task-3 .answer-2 {
  left: 51.05%;
  top: 55.3%;
}

/* line 786, ../sass/global.sass */
#frame-108 .task-3 .answer-1 {
  left: 60%;
  top: 36.6%;
}

/*FRAME 109 */
/* line 791, ../sass/global.sass */
#frame-109 .task {
  font-size: 20%;
  z-index: 3;
  left: 2.75%;
  top: 10%;
  width: 30%;
  height: 50%;
  line-height: 150%;
}

/* line 797, ../sass/global.sass */
#frame-109 .red {
  color: red;
}

/* line 803, ../sass/global.sass */
#frame-109 .responsive-sketchpad {
  background-repeat: repeat;
  background-image: url(../pics/s9-graph-notepad.png);
  background-size: auto 100%;
}

/* line 808, ../sass/global.sass */
#frame-109 #sketchpad-controls {
  left: 95%;
  top: 10%;
  width: 5%;
  height: 90%;
}

/* line 812, ../sass/global.sass */
#frame-109 #sketchpad-controls .control {
  width: 100%;
  height: 10%;
  font-size: 50%;
  text-align: center;
  cursor: pointer;
}

/* line 819, ../sass/global.sass */
#frame-109 #sketchpad-controls .control:hover {
  font-size: 60%;
}

/* line 822, ../sass/global.sass */
#frame-109 #sketchpad-controls #red {
  color: red;
}

/* line 825, ../sass/global.sass */
#frame-109 #sketchpad-controls #blue {
  color: blue;
}

/*FRAME 110 */
/* line 831, ../sass/global.sass */
#frame-110 .elem {
  background-size: 100% 100%;
}
/* line 834, ../sass/global.sass */
#frame-110 .molecule {
  -ms-transition: all 5s;
  -webkit-transition: all 5s;
  -moz-transition: all 5s;
  -o-transition: all 5s;
  transition: all 5s;
}
/* line 837, ../sass/global.sass */
#frame-110 .molecule.oxygen {
  left: 45%;
  top: 70%;
  width: 10%;
  height: 20%;
  background-image: url(../pics/s10-o.png);
  z-index: 2;
}
/* line 842, ../sass/global.sass */
#frame-110 .molecule.hydrogen {
  background-image: url(../pics/s10-h.png);
  z-index: 1;
}
/* line 846, ../sass/global.sass */
#frame-110 .molecule.hydrogen-1 {
  left: 20%;
  top: 20%;
  width: 8%;
  height: 16%;
}
/* line 849, ../sass/global.sass */
#frame-110 .molecule.hydrogen-2 {
  left: 72%;
  top: 20%;
  width: 8%;
  height: 16%;
}
/* line 852, ../sass/global.sass */
#frame-110 .molecule.oxygen.center {
  left: 45%;
  top: 40%;
  width: 10%;
  height: 20%;
}
/* line 855, ../sass/global.sass */
#frame-110 .molecule.hydrogen-1.center {
  left: 40%;
  top: 35%;
  width: 8%;
  height: 16%;
}
/* line 858, ../sass/global.sass */
#frame-110 .molecule.hydrogen-2.center {
  left: 50%;
  top: 35%;
  width: 8%;
  height: 16%;
}
/* line 861, ../sass/global.sass */
#frame-110 .glass {
  left: 40%;
  top: 10%;
  width: 20%;
  height: 70%;
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}
/* line 865, ../sass/global.sass */
#frame-110 .glass.ice {
  background-image: url(../pics/s10-glass-ice.png);
}
/* line 868, ../sass/global.sass */
#frame-110 .glass.water {
  background-image: url(../pics/s10-glass-water.png);
}
/* line 871, ../sass/global.sass */
#frame-110 .glass.vapor {
  background-image: url(../pics/s10-glass-vapor.png);
}
/* line 874, ../sass/global.sass */
#frame-110 .glass.big {
  left: 0%;
  top: -200%;
  width: 100%;
  height: 350%;
}
/* line 877, ../sass/global.sass */
#frame-110 .structure {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%;
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  z-index: 3;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
}
/* line 885, ../sass/global.sass */
#frame-110 .structure.big {
  left: 30%;
  top: 20%;
  width: 40%;
  height: 80%;
}
/* line 888, ../sass/global.sass */
#frame-110 .structure.ice {
  background-image: url(../pics/s10-ice-structure.gif);
}
/* line 891, ../sass/global.sass */
#frame-110 .structure.water {
  background-image: url(../pics/s10-water-structure.gif);
}
/* line 894, ../sass/global.sass */
#frame-110 .structure.vapor {
  background-image: url(../pics/s10-vapor-structure.gif);
}

/* line 898, ../sass/global.sass */
#frame-111 .state-change {
  left: 20%;
  top: 20%;
  width: 60%;
  height: 80%;
  background-image: url(../pics/s11-state-change.jpg);
  background-size: 1500% 100%;
}
/* line 904, ../sass/global.sass */
#frame-111 .structure {
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
}
/* line 909, ../sass/global.sass */
#frame-111 .ice-structure {
  left: 26%;
  top: 11.9%;
  width: 8.55%;
  height: 17.1%;
  background-image: url(../pics/s10-ice-structure.gif);
}
/* line 914, ../sass/global.sass */
#frame-111 .water-structure {
  left: 46%;
  top: 11.9%;
  width: 8.55%;
  height: 17.1%;
  background-image: url(../pics/s10-water-structure.gif);
}
/* line 919, ../sass/global.sass */
#frame-111 .vapor-structure {
  left: 66%;
  top: 11.9%;
  width: 8.55%;
  height: 17.1%;
  background-image: url(../pics/s10-vapor-structure.gif);
}

/* line 925, ../sass/global.sass */
#frame-112 .bg-base {
  background-image: url(../pics/s12-bg.png);
}
/* line 929, ../sass/global.sass */
#frame-112 .title {
  text-align: center;
  opacity: 0.8;
  left: 70%;
  top: 10%;
  width: 30%;
  height: 15%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 30%;
  z-index: 1;
}
/* line 939, ../sass/global.sass */
#frame-112 .basket {
  border: 3px solid blue;
  border-radius: 50%;
}
/* line 943, ../sass/global.sass */
#frame-112 .ball {
  border: 2px solid blue;
  border-radius: 50%;
}
/* line 947, ../sass/global.sass */
#frame-112 .ice.basket {
  left: 40.35%;
  top: 58.1%;
  width: 17.5%;
  height: 35%;
}
/* line 950, ../sass/global.sass */
#frame-112 .water.basket {
  left: 20%;
  top: 28.3%;
  width: 17.5%;
  height: 35%;
}
/* line 953, ../sass/global.sass */
#frame-112 .vapor.basket {
  left: 40.35%;
  top: 3.3%;
  width: 17.5%;
  height: 35%;
}
/* line 956, ../sass/global.sass */
#frame-112 .ice.ball {
  left: 3.85%;
  top: 10.2%;
  width: 10.75%;
  height: 20.9%;
  background-image: url(../pics/s12-solid.png);
}
/* line 960, ../sass/global.sass */
#frame-112 .water.ball {
  left: 3.85%;
  top: 69.9%;
  width: 10.75%;
  height: 20.9%;
  background-image: url(../pics/s12-liquid.png);
}
/* line 964, ../sass/global.sass */
#frame-112 .vapor.ball {
  left: 3.85%;
  top: 39.5%;
  width: 10.75%;
  height: 20.9%;
  background-image: url(../pics/s12-gas.png);
}

/* line 973, ../sass/global.sass */
#frame-114 .elem {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
}
/* line 977, ../sass/global.sass */
#frame-114 .molecules-animated-off {
  background-image: url(../pics/s14-molecules-off.gif);
  z-index: 5;
}
/* line 981, ../sass/global.sass */
#frame-114 .molecules-animated-on {
  background-image: url(../pics/s14-molecules-on.png);
  background-size: 1400% 100%;
  z-index: 5;
}
/* line 986, ../sass/global.sass */
#frame-114 .teapot-on {
  background-image: url(../pics/s14-teapot-on.png);
}
/* line 988, ../sass/global.sass */
#frame-114 .teapot-off {
  background-image: url(../pics/s14-teapot-off.png);
}
/* line 990, ../sass/global.sass */
#frame-114 .teapot-animated {
  background-image: url(../pics/s14-teapot-boiling.gif);
}
/* line 992, ../sass/global.sass */
#frame-114 .thermometer-animated {
  background-image: url(../pics/s14-thermometer-on.png);
  background-size: 1200% 100%;
}

/* line 997, ../sass/global.sass */
#frame-115 .question {
  width: 10%;
  height: 20%;
  position: absolute;
  font-size: 30%;
  text-align: center;
  color: black;
}
/* line 1005, ../sass/global.sass */
#frame-115 .molecule-label, #frame-115 .basket {
  width: 10%;
  height: 20%;
  position: absolute;
  border: 3px solid black;
  font-size: 60%;
  font-weight: bold;
  text-align: center;
  padding-top: 2.4%;
  color: white;
  border-radius: 50%;
}
/* line 1017, ../sass/global.sass */
#frame-115 .basket {
  z-index: 1;
}
/* line 1020, ../sass/global.sass */
#frame-115 .molecule-label {
  z-index: 2;
}
/* line 1023, ../sass/global.sass */
#frame-115 #heat-label {
  top: 30%;
  left: 10%;
}
/* line 1027, ../sass/global.sass */
#frame-115 #cool-label {
  top: 30%;
  left: 85%;
}
/* line 1031, ../sass/global.sass */
#frame-115 .draggable-container {
  width: 40%;
  height: 14%;
  position: absolute;
}
/* line 1036, ../sass/global.sass */
#frame-115 .draggable-container * {
  position: relative;
  display: block;
  float: left;
  background-color: white;
}
/* line 1042, ../sass/global.sass */
#frame-115 .draggable-container .handle {
  width: 20%;
  height: 100%;
  font-size: 60%;
  text-align: center;
  color: white;
  border: 2px solid black;
  border-radius: 50%;
  padding-top: 5%;
  background-color: #84c642;
}
/* line 1053, ../sass/global.sass */
#frame-115 .answer {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 20%;
  left: 5%;
  top: 10%;
  width: 60%;
  height: 80%;
  padding: 3%;
}
/* line 1063, ../sass/global.sass */
#frame-115 .draggable-container .answer {
  width: 70%;
}
/* line 1066, ../sass/global.sass */
#frame-115 #d-container-1 {
  left: 30%;
  top: 20%;
}
/* line 1070, ../sass/global.sass */
#frame-115 #d-container-2 {
  left: 30%;
  top: 35%;
}
/* line 1074, ../sass/global.sass */
#frame-115 #d-container-3 {
  left: 30%;
  top: 50%;
}
/* line 1078, ../sass/global.sass */
#frame-115 #d-container-4 {
  left: 30%;
  top: 65%;
}
/* line 1082, ../sass/global.sass */
#frame-115 #basket-1 {
  top: 40%;
  left: 3%;
  background-color: red;
}
/* line 1087, ../sass/global.sass */
#frame-115 #basket-2 {
  top: 40%;
  left: 17%;
  background-color: red;
}
/* line 1092, ../sass/global.sass */
#frame-115 #basket-3 {
  top: 40%;
  left: 85%;
  background-color: #000099;
}
/* line 1097, ../sass/global.sass */
#frame-115 #basket-4 {
  top: 60%;
  left: 85%;
  background-color: #000099;
}
/* line 1102, ../sass/global.sass */
#frame-115 .is-dragging {
  z-index: 10;
}
/* line 1105, ../sass/global.sass */
#frame-115 .title {
  text-align: center;
  opacity: 0.8;
  width: 98%;
  padding: 1%;
  position: absolute;
  background-color: white;
  font-size: 25%;
  top: 5%;
  z-index: 1;
}

/* line 1117, ../sass/global.sass */
#frame-116 .bg-base {
  background-image: url(../pics/s16-bg-2.png);
}
/* line 1121, ../sass/global.sass */
#frame-116 .girl {
  background-image: url(../pics/s16-bg-1.png);
}
/* line 1125, ../sass/global.sass */
#frame-116 .text {
  left: 37.25%;
  top: 64.1%;
  width: 60.3%;
  height: 32.8%;
  font-size: 38%;
  text-shadow: 0px 0px 10px white, 0px 0px 10px white, 0px 0px 10px white;
  line-height: 2em;
}
/* line 1132, ../sass/global.sass */
#frame-116 .ball {
  font-size: 25%;
  z-index: 4;
  color: white;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
  cursor: pointer;
}
/* line 1140, ../sass/global.sass */
#frame-116 .ball-1 {
  left: 37.5%;
  top: 50.2%;
  width: 7.6%;
  height: 4.8%;
}
/* line 1143, ../sass/global.sass */
#frame-116 .ball-2 {
  left: 45.8%;
  top: 51.3%;
  width: 9.4%;
  height: 4.4%;
}
/* line 1146, ../sass/global.sass */
#frame-116 .ball-3 {
  left: 43.8%;
  top: 35.8%;
  width: 13.3%;
  height: 5.2%;
}
/* line 1149, ../sass/global.sass */
#frame-116 .ball-4 {
  left: 69%;
  top: 41.4%;
  width: 7.15%;
  height: 4.4%;
}
/* line 1152, ../sass/global.sass */
#frame-116 .ball-5 {
  left: 84.1%;
  top: 7.4%;
  width: 8.6%;
  height: 5.9%;
}
/* line 1155, ../sass/global.sass */
#frame-116 .basket {
  display: inline-block;
  font-size: 100%;
  height: 1.5em;
  border-bottom: 2px solid black;
  z-index: 5;
  text-align: center;
  border: 1px dashed red;
}
/* line 1164, ../sass/global.sass */
#frame-116 .basket-1 {
  min-width: 5em;
  max-width: 5em;
}
/* line 1168, ../sass/global.sass */
#frame-116 .basket-2 {
  min-width: 8em;
  max-width: 8em;
}
/* line 1172, ../sass/global.sass */
#frame-116 .basket-3 {
  min-width: 9em;
  max-width: 9em;
}
/* line 1176, ../sass/global.sass */
#frame-116 .basket-4 {
  min-width: 6em;
  max-width: 6em;
}
/* line 1180, ../sass/global.sass */
#frame-116 .basket-5 {
  min-width: 9em;
  max-width: 9em;
}

/* line 1185, ../sass/global.sass */
#frame-201 .bg-base {
  background-image: url(../pics/test-bg.png);
}
/* line 1189, ../sass/global.sass */
#frame-201 .old-man {
  left: 0.1%;
  top: 55.1%;
  width: 23.45%;
  height: 44.9%;
  border: 2px solid black;
}
/* line 1194, ../sass/global.sass */
#frame-201 .old-man.happy {
  background-color: green;
  background-image: url(../pics/grandpa-happy.png);
  z-index: 2;
}
/* line 1199, ../sass/global.sass */
#frame-201 .old-man.sad {
  background-color: #f79191;
  background-image: url(../pics/grandpa-sad.png);
  z-index: 2;
}
/* line 1204, ../sass/global.sass */
#frame-201 .old-man.neutral {
  background-color: #90f4b8;
  background-image: url(../pics/grandpa-neutral.png);
  z-index: 1;
}
/* line 1209, ../sass/global.sass */
#frame-201 .task {
  z-index: 3;
}
/* line 1213, ../sass/global.sass */
#frame-201 .question {
  left: 30%;
  top: 10%;
  width: 45%;
  height: 20%;
  font-size: 30%;
  padding: 1%;
}
/* line 1219, ../sass/global.sass */
#frame-201 .task-1 .question {
  font-size: 40%;
}
/* line 1222, ../sass/global.sass */
#frame-201 .task-3 .question {
  font-size: 50%;
}
/* line 1225, ../sass/global.sass */
#frame-201 .task-4 .question {
  font-size: 35%;
}
/* line 1228, ../sass/global.sass */
#frame-201 .task-6 .question {
  font-size: 40%;
}
/* line 1231, ../sass/global.sass */
#frame-201 .answer {
  font-size: 25%;
  width: 60.5%;
  height: 6.3%;
  padding: 0.5%;
  cursor: pointer;
  color: white;
  text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black;
}
/* line 1240, ../sass/global.sass */
#frame-201 .answer:hover {
  color: black;
  text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white;
}
/* line 1244, ../sass/global.sass */
#frame-201 .answer-1 {
  left: 40%;
  top: 40%;
}
/* line 1247, ../sass/global.sass */
#frame-201 .answer-2 {
  left: 40%;
  top: 50%;
}
/* line 1250, ../sass/global.sass */
#frame-201 .answer-3 {
  left: 40%;
  top: 60%;
}
/* line 1253, ../sass/global.sass */
#frame-201 .answer-4 {
  left: 40%;
  top: 70%;
}
/* line 1256, ../sass/global.sass */
#frame-201 .answer-5 {
  left: 40%;
  top: 80%;
}
/* line 1259, ../sass/global.sass */
#frame-201 .ball {
  border-radius: 50%;
  background-color: white;
  font-size: 20%;
  padding: 2%;
  text-align: center;
  padding-top: 6%;
  left: 53.4%;
  top: 47.9%;
  width: 19%;
  height: 38%;
  cursor: pointer;
}
/* line 1269, ../sass/global.sass */
#frame-201 .basket {
  border-radius: 50%;
  width: 14.05%;
  height: 28.1%;
  background-size: 100% 100%;
  font-size: 30%;
  text-align: center;
  padding-top: 5%;
  color: white;
  text-shadow: 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black, 0vmin 0vmin 1vmin black;
}
/* line 1280, ../sass/global.sass */
#frame-201 .basket-1 {
  left: 3.1%;
  top: 12.4%;
  background-image: url(../pics/test-dew-circle.png);
}
/* line 1284, ../sass/global.sass */
#frame-201 .basket-2 {
  left: 29.2%;
  top: 40.5%;
  background-image: url(../pics/test-fog-circle.png);
}
/* line 1288, ../sass/global.sass */
#frame-201 .basket-3 {
  left: 36.25%;
  top: 69%;
  background-image: url(../pics/test-frost-circle.png);
}
/* line 1292, ../sass/global.sass */
#frame-201 .basket-4 {
  left: 80.2%;
  top: 30.9%;
  background-image: url(../pics/test-cloud-circle.png);
}
/* line 1296, ../sass/global.sass */
#frame-201 .basket-5 {
  left: 78.3%;
  top: 69%;
  background-image: url(../pics/test-ice-circle.png);
}
/* line 1300, ../sass/global.sass */
#frame-201 .task-12 .question {
  font-size: 23%;
}
/* line 1303, ../sass/global.sass */
#frame-201 .task-13 .question {
  font-size: 23%;
}
/* line 1306, ../sass/global.sass */
#frame-201 .task-14 .question {
  font-size: 45%;
}
/* line 1309, ../sass/global.sass */
#frame-201 .graph {
  border-radius: 50%;
  border: 2px dashed grey;
  left: 1.75%;
  top: 7.0%;
  width: 19.45%;
  height: 38.9%;
}
/* line 1315, ../sass/global.sass */
#frame-201 .graph-1 {
  background-image: url(../pics/test-graph-1.png);
}
/* line 1318, ../sass/global.sass */
#frame-201 .graph-2 {
  background-image: url(../pics/test-graph-2.png);
}
/* line 1321, ../sass/global.sass */
#frame-201 .graph-3 {
  background-image: url(../pics/test-graph-3.png);
}
/* line 1324, ../sass/global.sass */
#frame-201 .column {
  width: 36.35%;
  height: 10.9%;
  font-size: 30%;
  text-align: left;
  line-height: 2em;
  color: black;
  text-shadow: 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white, 0vmin 0vmin 1vmin white;
}
/* line 1333, ../sass/global.sass */
#frame-201 .column-1 {
  left: 37.9%;
  top: 48.4%;
}
/* line 1336, ../sass/global.sass */
#frame-201 .column-2 {
  left: 37.9%;
  top: 60.4%;
}
/* line 1339, ../sass/global.sass */
#frame-201 .column-3 {
  left: 37.9%;
  top: 72.7%;
}
/* line 1342, ../sass/global.sass */
#frame-201 .column-4 {
  left: 37.9%;
  top: 84.8%;
}
/* line 1345, ../sass/global.sass */
#frame-201 .answerfield {
  display: inline-block;
  margin-right: 1em;
  width: 3em;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 150%;
}
/* line 1354, ../sass/global.sass */
#frame-201 .check-button {
  font-size: 25%;
  border-radius: 10px;
  border: 2px solid grey;
  left: 82%;
  top: 84.8%;
  width: 15.4%;
  height: 9.7%;
  padding: 1.2%;
  text-align: center;
  background-color: white;
  cursor: pointer;
}
/* line 1365, ../sass/global.sass */
#frame-201 .check-button:hover {
  background-color: black;
  color: white;
}
/* line 1369, ../sass/global.sass */
#frame-201 .timer {
  left: 81.15%;
  top: 1.4%;
  width: 8.6%;
  height: 10.8%;
  font-size: 25%;
  border-radius: 10px;
  border: 2px solid black;
  background-color: white;
  padding: 0.5;
  padding-top: 2%;
  text-align: center;
}

/* line 1381, ../sass/global.sass */
#frame-301 .bg-base {
  background-image: url(../pics/research-bg.png);
}
/* line 1385, ../sass/global.sass */
#frame-301 .text {
  left: 39%;
  top: 20%;
  width: 30%;
  height: 60%;
  font-size: 30%;
  text-align: center;
  cursor: pointer;
}
/* line 1392, ../sass/global.sass */
#frame-301 .facts-home-button {
  display: block;
  font-size: 50%;
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #8dd3fd;
  border: 1px solid black;
  padding: 0.4em;
  color: white;
}
/* line 1404, ../sass/global.sass */
#frame-301 .facts-home-button:hover {
  border: 1px solid #feb67a;
  color: black;
}

/* line 1409, ../sass/global.sass */
#frame-401 .fact {
  width: 17.5%;
  height: 35%;
  border-radius: 50%;
  font-size: 30%;
  color: transparent;
  cursor: pointer;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  text-align: center;
}
/* line 1419, ../sass/global.sass */
#frame-401 .fact:hover {
  border: 2px solid green;
}
/* line 1422, ../sass/global.sass */
#frame-401 .fact-1 {
  left: 1.5%;
  top: 22.5%;
  background-image: url(../pics/facts-cooker.png);
}
/* line 1426, ../sass/global.sass */
#frame-401 .fact-2 {
  left: 21.2%;
  top: 22.5%;
  background-image: url(../pics/facts-mountain.png);
}
/* line 1430, ../sass/global.sass */
#frame-401 .fact-3 {
  left: 41.25%;
  top: 22.5%;
  background-image: url(../pics/facts-fridge.png);
}
/* line 1434, ../sass/global.sass */
#frame-401 .fact-4 {
  left: 61.3%;
  top: 22.5%;
  background-image: url(../pics/facts-boiling-point.png);
}
/* line 1438, ../sass/global.sass */
#frame-401 .fact-5 {
  left: 81.35%;
  top: 22.5%;
  background-image: url(../pics/facts-petrol-station.png);
}
/* line 1442, ../sass/global.sass */
#frame-401 .source {
  left: 15%;
  top: 79%;
  width: 60%;
  height: 14.7%;
  font-size: 20%;
  text-align: center;
}
/* line 1448, ../sass/global.sass */
#frame-401 .fact.center {
  left: 25%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-image: none;
  background-color: white;
  border: 2px solid blue;
  padding: 5%;
  padding-top: 15%;
  z-index: 3;
}
/* line 1457, ../sass/global.sass */
#frame-401 .facts-home-button {
  display: block;
  font-size: 50%;
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #8dd3fd;
  border: 1px solid black;
  padding: 0.4em;
  color: white;
}
/* line 1469, ../sass/global.sass */
#frame-401 .facts-home-button:hover {
  border: 1px solid #feb67a;
  color: black;
}

/*ANNOTATION */
/* line 1474, ../sass/global.sass */
#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 35%;
  font-family: Calibri Light;
  text-align: left;
}

/* line 1486, ../sass/global.sass */
#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%;
}

/* line 1490, ../sass/global.sass */
#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 100%;
  position: absolute;
  left: 16%;
  width: 75%;
 } 

/* line 1495, ../sass/global.sass */
#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center;
}

/* line 1503, ../sass/global.sass */
#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}

/* line 1506, ../sass/global.sass */
#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center;
}

/* line 1515, ../sass/global.sass */
#frame-000 .annotation-button-close {
  color: gray;
}

/* line 1518, ../sass/global.sass */
#frame-000 .annotation-button:hover {
  color: blue;
}

/* line 1521, ../sass/global.sass */
#frame-000 .copyright {
  z-index: 23;
  left: 77%;
  top: 96%;
  width: 23%;
  height: 5%;
  font-size: 15%;
  color: black;
}

/*INTRO VIDEO */
/* line 1533, ../sass/global.sass */
.intro-video {
  display: block;
  z-index: 25;
}

/*INTRO PIC */
/* line 1540, ../sass/global.sass */
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24;
}

/* line 1545, ../sass/global.sass */
.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center;
}

/* line 1553, ../sass/global.sass */
.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 40%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 70%;
  color: #666564;
  text-align: left;
}

/* line 1561, ../sass/global.sass */
.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light;
}
